@font-face {
    font-family: 'Roboto Bold';
    src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Cantarell';
    src: url("fonts/Cantarell-Regular.ttf");
}

:root {
    --mikeylab-color: #5f9ea0;
    --mikeylab-yellow: #A18B4C;
    --mikeylab-red: #a0615f;
    --roboto-bold: "Roboto Bold", sans-serif;
    --cantarell: "Cantarell", sans-serif;

    --pfp-size: 5rem;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--cantarell);
}

body {
    box-sizing: border-box;
    padding: 15px;
}

p {
    max-width: 70ch;
    line-height: 1.6rem;
    font-family: var(--cantarell);
    margin: 0;
}

a {
    color: var(--mikeylab-color);
    text-decoration: underline dotted;
}

a:hover {
    text-decoration: underline;
}

h1,
h2 {
    font-family: var(--roboto-bold);
    margin: 0;
}

h1,
h2 {
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

button {
    all: initial;

    color: black;
    display: block;
    cursor: pointer;

    margin: 15px auto;

    padding: 15px;
    border-radius: 10px;

    width: fit-content;

    background-color: var(--mikeylab-color);
}

button,
p,
textarea {
    font-family: var(--cantarell);
}

footer {
    text-align: center;
}

.attribs {
    font-size: xx-small;
}

textarea {
    width: 100%;
    height: fit-content;
    resize: vertical;
}

#main,
#cli-builder {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 15px;
    box-sizing: border-box;
}

textarea,
input {
    border: 0px;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
}

#cli-builder {
    display: none;
}

.inp-grp {
    display: flex;
    gap: 1ch;
    align-items: center;

    box-sizing: border-box;
    padding: 15px;
}

.inp-grp span {
    width: fit-content;
}

.inp-grp input {
    flex-grow: 1;
}

#cli-results {
    display: none;
}

#cli-results input {
    margin-top: 15px;
    width: 100%;
}

textarea:disabled,
input:disabled {
    background-color: white;
    color: black;
}

/* #region media */

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    button {
        color: white;
    }
}

/* #endregion */